/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/
.color{
	margin: 15px;
	padding: 0px;
}
.rectangle_pri{
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	width: 105px;
	height: 90px;
}
#rectangle_sub_1{
	border-bottom-left-radius:15px;
}
#rectangle_sub_2{
	border-bottom-right-radius:15px;
}
.rectangle_sub{
	height: 30px;
}
.mob-primary-color-top{
	width: 449px;
    margin: 0px;
    height: 50px;
}
.mob-primary-color-bottom{
	position: absolute;
    bottom: 90px;
    width: 447px;
    margin: 0px;
    height: 50px;
}
.mob-secondary-color-1{
	border-top-left-radius:70px;
	border-top-right-radius:70px;
	width: 448px;
    margin: 43px 0 0 1px;
    height: 30px;
}
.mob-secondary-color-2{
	border-bottom-left-radius:70px;
	border-bottom-right-radius:70px;
	position: absolute;
	width: 448px;
    bottom: 50px;
    height: 40px;
}
.bg-white{
	background-color: white;
	height: 787px;
    width: 447px;
}